@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {
  font-family: 'Varela Round', sans-serif;
  font-size: 2rem;
}

.wi {
  font-size: 4rem;
}

.wi-current {
  font-size: 8rem;
}

.wi-temp {
  font-size: 2.5rem;
}

.wi-time, .wi-wind {
  font-size: 2.3rem;
}

.wi-temp-current {
  font-size: 6rem;
}

.forecast-single, .current-weather {
  margin: 1rem auto;
}

.current-weather, .wi-wind-current {
  font-size: 5rem;
}