@import url('https://fonts.googleapis.com/css?family=Varela+Round');

* {
  font-family: 'Varela Round', sans-serif;
}

body {
  font-size: 2rem;
  color: #280a94;
  background-image: url('http://i.imgur.com/fG3uWKg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.wi {
  font-size: 4rem;
}

.wi-current {
  font-size: 8rem;
}

.wi-temp {
  font-size: 2.5rem;
}

.wi-time, .wi-wind {
  font-size: 2.3rem;
}

.wi-temp-current {
  font-size: 6rem;
}

.forecast-single, .current-weather {
  margin: 1rem auto;
}

.current-weather, .wi-wind-current {
  font-size: 5rem;
}

.search-bar {
  margin: 2rem auto;
}